/*Full Body Tag*/
body{
	background-color: #0C1027;
}

/*Header Section*/
.header-section{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 10vh;
	width: 100%;
}
.header-button{
	background: transparent;
	border: none;
	padding: 1px;
}
#logo{
	display: flex;
	align-items: center;
}	
#logo-img{
	margin-left: 1rem;
	height: 4rem;
	width: 4rem;
}
#logo-text p{
	color: white;
	margin-left: 1rem;
	font-size: 1.3rem;
	font-family: sans-serif;
	letter-spacing: 0.2rem;
	line-height: 0.1rem;
}
#nav{
	position: relative;
	left: -5%;
}
#nav a{
	vertical-align: middle;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 1rem;
	letter-spacing: 0.1rem;
	color: white;
}
#search-bar{
	position: relative;
    left: 10%;
    height: 50%;
	width: fit-content;
	padding: 2px;
	background-color: #12193E;
}
#search-bar i{
	color: #93A8B3;
	font-size: 1.2rem;
    margin: 8px;
    cursor: pointer;
}
#search-bar input{
	color: white;
	font-size: 1.1rem;
	background: transparent;
	border: none;
	margin-left: 0.2rem;
	margin-right: 0.2rem;
}
#notification{
	display: flex;
    position: relative;
    left: 2%;
}
#notification-icon{
	color: #E6E6E6;
	font-size: 1.8rem;
	position: relative;
}
#notification-alert{
	background-color: #FF0F0F;
	height: 10px;
	width: 10px;
	border-radius: 50%;
    position: absolute;
    top: 13%;
    left: 60%;
}
#user{
    position: relative;
    left: -5%;
    margin-top: 4px;
}
#user-img{
	height: 60px;
	width: 60px;
	border-radius: 50%;
}
#user:hover, #notification-icon:hover, #logo:hover{
	cursor: pointer;
	transform: scale(1.05);
	transition: all 0.3s;
}
@media screen and (max-width: 1025px){
	#search-bar{
		left: 0%;
	}
	#notification{
		left: -3%;
	}
}
@media screen and (max-width: 800px){
	#search-bar{
		display: none;
	}
}

/*Main Content*/
.main{
	height: fit-content;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;	
}

/*Main Section*/
.main-section{
	height: inherit;
	width: 60%;
	margin: 0px 4px;
	display: flex;
	flex-shrink: 1;
	flex-wrap: wrap;
	padding: 1%;
}
/*Carousel Begins*/
.carousel{
	height: fit-content;
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 5%;
	margin: 4rem 0rem;
}
.image-holder{
	height: 14rem;
	max-width: 25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
}
.image-holder img{
	height: inherit;
	width: 100%;
}
.image-holder:hover{
	z-index: 2;
	transform: scale(1.2);
	box-shadow: 0rem 0rem 1rem 0.1rem;
	cursor: pointer;
	transition: all 0.5s;
}
#image-left{
	position: relative;
	left: 7%;
}
#image-mid{
	position: relative;
	z-index: 1;
	height: 15rem;
	width: 110%;
	box-shadow: 0rem 0rem 1rem 0.1rem;	
}
#image-right{
	position: relative;
	right: 5%;
}
.image-holder:hover ~ #image-mid{
	box-shadow: none;
}
/*Carousel Ends*/

/*Sub Section Classes for Latest Release, Popular Artists, etc.*/
.sub-section{
	height: fit-content;
	width: 100%;
	position: relative;
	display: block;
	margin: 0.5rem 1.5rem 1rem 1.5rem;
}
.sub-section-heading{
	height: 1rem;
	width: 100%;
	color: white;
	font-size: 1.1rem;
	font-family: sans-serif;
	font-weight: bold;
	margin: 0rem 1rem 1rem 0rem;
}
.sub-section-display{
	height: fit-content;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 0.5rem 2rem 1rem 0rem;
}
@media screen and (max-width: 1270px){
	.sub-section{
		width: 100%;
	}
}
@media screen and (max-width: 1107px){
	.sub-section-display{
		justify-content: center;
	}
}

/*Latest Release*/
#latest-release-sub-section{
	width: 80%;
}
.latest-release-tile{
	position: relative;
	margin: 5px 5px 5px 0px;
	height: 100px;
	width: auto;
	display: flex;
}
.latest-release-tile img{
	height: inherit;
	width: 100px;
}
.latest-release-tile img:hover{
	box-shadow: 0rem 0rem 0.3rem 0.01rem gray;
	opacity: 0.8;
	transform: scale(1.1);
	transition: all 0.5s;
	cursor: pointer;
}
.tile-info{
	position: relative;
	top: 8%;
	left: -2%;
	height: fit-content;
	width: fit-content;
	font-size: 0.8rem;
	font-family: sans-serif;
	color: white;
}
.tile-info p{
	cursor: pointer;
}
.dropdown{
	display: inline-block;
	position: relative;
	left: 55%;
}
.dropdown i{
	color: #93A8B3;
	cursor: pointer;
}
.dropdown-content{
  	display: none;
  	position: absolute;
  	left: -9.5rem;
  	top: -1px;
  	background-color: #F2F2F2;
  	min-width: 150px;
  	box-shadow: 0px 3px 5px 0px gray;
  	z-index: 1;
}
.dropdown-content a{
	height: 5px;
  	color: black;
  	padding: 8px 5px;
  	text-decoration: none;
  	display: flex;
  	align-items: center;
  	font-size: 0.8rem;
  	font-family: sans-serif;
  	line-height: 0.1rem;
}
.dropdown-content a i{
	color: #8F8AB0;
}
.dropdown-content a:hover{
	background-color: lightgray;
}
.dropdown:hover .dropdown-content{
  	display: block;
}
/*Latest Release Ends*/

/*Popular Artists*/
.artist{
	height: 6rem;
	width: 6rem;
	display: block;
	margin: 0.5rem 1rem;
}
.artist img{
	height: inherit;
	width: inherit;
	border-radius: 50%;
}
.artist p{
	font-family: sans-serif;
	font-size: 0.9rem;
	margin-top: 0.1rem;
	text-align: center;
	color: white;
}
.artist img:hover{
	transform: scale(1.1);
	opacity: 0.9;
	cursor: pointer;
	transition: all 0.3s;
	box-shadow: 0px 0px 5px 0.5px black;
}
.artist p:hover{
	cursor: pointer;
}
/*Popular Artists Ends*/

/*Category Section 1*/
.categories{
	height: fit-content;
	min-height: 9rem;
	width: 100%;
	margin: 0.3rem 0rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #101642;
}
.category-one-item{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin: 0.8rem 5px 0.8rem 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.category-one-item p{
	color: white;
	font-family: sans-serif;
}
.category-one-item:hover{
	transform: scale(1.1);
	opacity: 0.9;
	box-shadow: 0px 0px 5px 0.5px gray;
	transition: all 0.2s;
	cursor: pointer;
}
#stations-icon{
	height: 6rem;
	width: 6.5rem;
	margin: 0.8rem 0.5rem;
	background-image: url(assets/stations-logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	cursor: pointer;
}
#stations-icon p{
	color: white;
	font-family: sans-serif;
	font-size: 1rem;
	position: relative;
	letter-spacing: 0.1rem;
	top: 25%;
	cursor: pointer;
}
#stations-icon:hover{
	opacity: 0.9;
}
#love-category{
	background-image: url(assets/love-img.jpg);
	background-size: contain;
}
#retro-category{
	background-image: url(assets/retro-img.jpg);
	background-size: contain;
}
#chill-category{
	background-image: url(assets/chill-img.jpg);
	background-size: contain;
}
#workout-category{
	background-image: url(assets/workout-img.jpg);
	background-size: contain;
}
#rock-category{
	background-image: url(assets/rock-img.jpg);
	background-size: contain;
}
#pop-category{
	background-image: url(assets/pop-img.png);
	background-size: contain;
}
/*Category Section 1 Ends*/

/*Category Section 2*/
#category-section-two{
	background-color: transparent;
}
.category-two-item{
	height: 9.4rem;
	width: 16.7rem;
	margin: 0.5rem 0.3rem;
	background-repeat: no-repeat;
	cursor: pointer;
}
.category-two-item p{
	position: relative;
	text-align: center;
	top: 35%;
	font-size: 1.1rem;
	font-family: sans-serif;
	font-weight: bolder;
	letter-spacing: 0.1rem;
	color: white;
}
.category-two-item:hover{
	box-shadow: 0px 0px 5px 0.5px black;
	opacity: 0.9;
	transform: scale(1.1);
	transition: all 0.3s;
}
#party-category{
	background-image: url(assets/party-img.jpg);
	background-size: contain;
}
#electronic-category{
	background-image: url(assets/electronic-img.jpg);
	background-size: contain;
}
#road-trip-category{
	background-image: url(assets/road-trip-img.jpg);
	background-size: contain;
}
/*Category Section 2 Ends*/

/*Latest English & Latest Hindi*/
/*Same template used for both sections*/
.latest-song-tile{
	height: 11rem;
	width: 8rem;
	margin: 0.05rem 0.1rem;
}
.latest-song-tile img{
	height: 8rem;
	width: inherit;
	cursor: pointer;
}
.latest-song-tile img:hover{
	transform: scale(1.05);
	opacity: 0.9;
	box-shadow: 0px 0px 5px 0.5px black;
	transition: all 0.3s;
}
.latest-song-tile p{
	font-family: sans-serif;
	font-size: 0.8rem;
	line-height: 0.2rem;
	position: relative;
	left: 3%;
	cursor: pointer;
	color: white;
}
.latest-song-tile p:hover{
	color: lightgray;
}
/*Latest English & Latest Hindi Ends*/

/*Left side of main section ends*/

/*Aside Section*/
.aside-section{
	height: fit-content;
	width: 35%;
	margin: 0px 4px;
}
#my-playlist{
	display: none;
}
#aside-section-heading{
	height: 3rem;
	width: 100%;
	margin: 1rem 0rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	font-family: sans-serif;
	justify-content: space-between;
	align-items: center;
	font-size: 0.8rem;
}
#aside-section-heading h1{
	color: white;
	margin-left: 3rem;
}
#aside-section-heading p{
	color: #4DDABB;
	display: inline-block;
	cursor: pointer;
}
#queue-dropdown{
	left: -15%;
}
#queue-dropdown i{
	color: #4DDABB;
	cursor: pointer;
}
#queue-dropdown-content{
	top: 50%;
}
.queue-items{
	height: 55rem;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	flex-shrink: 1;
	align-items: center;
	justify-content: center;
	overflow-y: scroll;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
.queue-item-tile{
	height: 70px;
	width: 80%;
	margin: 0.3rem 0rem;
	padding: 2px 4px;
	display: flex;
	flex-shrink: 1;
	align-items: center;
}
.queue-item-tile img{
	height: 55px;
	width: 55px;
	border-radius: 5%;
	margin: 0rem 1rem;
	box-shadow: 0px 0px 4px 0px white;
	cursor: pointer;
}
.queue-item-tile img:hover{
	transform: scale(1.02);
	transition: all 0.3s;
}
.queue-item-tile p{
	font-family: sans-serif;
	font-size: 0.8rem;
	color: white;
	cursor: pointer;
	line-height: 0.1rem;
	letter-spacing: 0.05rem;
}
.queue-item-tile i{
	cursor: pointer;
	color: white;
}
.queue-item-tile i:hover{
	color: red;
	transition: color 2s;
}
.queue-item-text{
	width: 70%;
}


/*Footer Section*/
.footer-section{
	z-index: 3;
	position: relative;
	height: 0.1rem;
	width: 100%;
	background-color: transparent;
	cursor: pointer;
}
.footer-display{
	height: 90px;
	width: 100%;
	position: relative;
	background-color: #282828;
	bottom: 5rem;
	display: none;
}
.footer-section:hover .footer-display{
	display: flex;
	justify-content: space-around;
	align-items: center;
	overflow-x: hidden;
}
.player-items{
	height: 90%;
	width: 300px;
	margin: 0rem 3rem;
	position: relative;
	display: flex;
	flex-shrink: 1;
	align-items: center;
}
.player-items i:hover{
	transform: scale(1.05);
	text-shadow: 0.5px 0.5px gray;
	color: white;
	transition: all 0.2s;
}
#song-details img{
	height: 60px;
	width: 60px;
	border-radius: 5%;
	box-shadow: 0px 0px 2px 0.1px white;
}
#song-details-text{
	color: white;
	font-family: arial;
	font-size: 0.8rem;
	line-height: 0.2rem;
	letter-spacing: 0.1rem;
	position: relative;
	left: 5%;
}
#song-details img:hover, p:hover{
	opacity: 0.9;
	cursor: pointer;
}
#song-details-icons{
	width: 3rem;
	display: flex;
	justify-content: space-between;
	color: #858585;
	position: relative;
	left: 20%;
	bottom: 10%;
}
#player-controls{
	width: 50%;
	display: flex;
	flex-shrink: 1;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
#player-control-icons{
	color: #858585;
	height: 60%;
	width: 50%;
	display: flex;
	flex-shrink: 1;
	align-items: center;
	justify-content: space-around;
	position: relative;
}
#player-control-icons i{
	margin: 0rem 0.9rem;
}
#music-progress-bar{
	color: #858585;
	height: 1.5rem;
	display: flex;
	flex-shrink: 1;
	align-items: center;
	justify-content: space-between;
	font-family: sans-serif;
	font-size: 0.8rem;
}
#progress-bar{
	height: 0.3rem;
	width: 40rem;
	margin: 0rem 0.5rem;
}
#other-controls{
	color: #858585;
	display: flex;
	flex-shrink: 1;
	align-items: center;
	justify-content: space-around;
}
#other-controls i{
	margin: 0rem 0.3rem;
}
#volume-slider{
	height: 0.25rem;
	width: 6rem;
	margin-left: 0rem;
	border-radius: 2rem;
}

/*CSS for Single Playlist Page*/
/*Code for Top Bar, Music Player & Aside Section is same for both*/
/*Here goes code for left-hand-side content*/

.artist-info{
	height: 20rem;
	width: 95%;
	background-color: #141B41;
	position: relative;
	left: 5%;
	margin-top: 5rem;
	display: flex;
	align-items: center;
	flex-shrink: 1;
	background-image: url(assets/artist-two.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0.9;
}
#artist-info-text{
	width: 60%;
	position: relative;
	bottom: 17%;
	left: 38.5%;
	color: #757A90;
	font-family: sans-serif;
	font-size: 0.8rem;
	letter-spacing: 0.1rem;
	line-height: 0.5rem;
}
#artist-info-text h1{
	color: white;
	font-size: 1.5rem;
	cursor: pointer;
}
#artist-info-button{
	width: 25%;
	position: relative;
	right: 21%;
	top: 22%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
#artist-info-button a{
	text-decoration: none;
	color: white;
	font-family: sans-serif;
	font-size: 0.9rem;
	letter-spacing: 0.1rem;
}
#play-all-button{
	height: 2.5rem;
	width: 7rem;
	border-radius: 0.1rem;
	border: none;
	color: white;
	font-family: sans-serif;
	letter-spacing: 0.1rem;
	background-image: linear-gradient(to right, #3925B1, #BE46DD);
	cursor: pointer;
}
#play-all-button:hover{
	box-shadow: 0px 0px 3px 0.5px lightgray;
	transform: scale(1.05);
	transition: all linear 0.3s;
}
#tracks-albums{
	opacity: 0.9;
	color: white;
	font-family: sans-serif;
	font-size: 0.7rem;
	cursor: pointer;
	position: relative;
	top: 34%;
	right: 46%;
}
.artist-music{
	height: fit-content;
	width: 95%;
	margin: 1rem 0rem;
	position: relative;
	left: 5%;
	display: flex;
	flex-wrap: wrap;
	flex-shrink: 1;
	justify-content: center;
	align-items: center;
}
.artist-music-tile{
	height: 4.5rem;
	width: 100%;
	margin: 0.1rem 0rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.artist-music-tile img{
	height: 60px;
	width: 60px;
	position: relative;
	left: 5%;
	box-shadow: 0px 2px 4px 0.5px lightgray;
}
.artist-music-tile img:hover{
	cursor: pointer;
	transform: scale(1.05);
	transition: all 0.3s;
}
.artist-music-tile p, i{
	color: white;
	font-family: sans-serif;
	font-size: 0.9rem;	
	letter-spacing: 0.05rem;
}
#artist-music-content{
	height: 100%;
	width: 40%;
	display: flex;
	align-items: center;
}
#artist-music-icons{
	height: 100%;
	width: 6.5%;
	margin-right: 1rem;	
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#artist-music-icons i:hover{
	cursor: pointer;
	text-shadow: 0.5px 0.5px white;
	transition: all 0.3s;
}
.artist-music-tile-text{
	position: relative;
	left: 10%;
	line-height: 0.5rem;
}



